<!-- Cards section -->
<div class="pb-5 mt-5">
    <div class="container py-7">
      <div class="row">
          <div class="col-md-6 border-radius-5 mt-4">
            <img src="assets/images/team.jpg" alt="" class="img-fluid border-radius-5">
          </div>
          <div class="col-md-5 offset-md-1 mt-7">
            <h3 class="display-4">About Us</h3>
            <p class="lead mt-3 text-black-50">We're a team of dedicated professionals who live and breathe technology. With years of experience in the industry, we've honed our skills to provide top-notch services to our clients. Our mission is to help businesses leverage the latest technologies to achieve their goals</p>
          </div>      
      </div>
</div>
</div>  