<!-- Cards section -->
<div class="pb-5 mt-3 ">
    <div class="container  py-3 py-md-7">
      <div class="row">
          <div class="col-md-6  order-2 order-md-1 border-radius-5 mt-5">
            <img src="assets/images/team.jpg" alt="" class="img-fluid border-radius-5">
          </div>
          <div class="col-md-5 order-1 order-md-2 offset-md-1 mt-4 mt-md-7 ">
            <h3 class="display-4">About Us</h3>
            <p class="lead mt-3 text-black-50">We are a passionate team of tech enthusiasts with extensive industry experience. Our expertise is finely tuned to offer exceptional services, driven by the mission to empower businesses through cutting-edge technology adoption, enabling the achievement of their objectives.</p>
          </div>      
      </div>
</div>
</div>  