<!-- Cards section -->
<div class="footer pb-5 ">
    <div class="container py-7">
        <div class="d-block d-md-flex justify-content-evenly ">
            <div class="mb-5">
                <h6 class="text-black-50 text">Services</h6>
                <div class="d-flex flex-row">
                    <ul class="list-group list-group-flush px-0 mx-0">
                        <li class="list-group-item ">Digital Transformation</li>
                        <li class="list-group-item ">Product Engineering</li>
                        <li class="list-group-item ">Data Science</li>
                        <li class="list-group-item ">Application Development</li>
                        <li class="list-group-item ">UI/UX</li>
                        <li class="list-group-item ">Artificial Intelligence (AI)</li>   
                        <li class="list-group-item ">Big Data & Analytics</li>
                        <li class="list-group-item ">DevOps</li>
                        <li class="list-group-item ">Cloud Services</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-3">
                <h6 class="text-black-50">Address</h6>
                <p class="lead">297, 2nd floor, Mangala Mayee, 25th Cross, Jayanagar 6th Block, Bengaluru, Karnataka, India</p>
                <h6 class="text-black-50 mt-5">Contact us</h6>
                <a href="mailto:info@kysbay.com" class="text-black">info@kysbay.com</a> 

            </div>
        </div>
    </div>
    <hr>
    <div class="container mt-5">
       <p class="lead text-black-50 text-center">Copyright &copy; 2023 SKY Partner</p>
    </div>
</div>