<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content ">
            <div class="modal-header border border-0 ">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-3 text-center pb-5">
                <span class="fas fa-handshake fa-5x text-success"></span>
                <h3 class="mt-5">Thank you</h3>
                <!-- <p class="mt-2 text-black-50">{{modalMessage}}</p> -->
            </div>
        </div>
    </div>
</div>