<div class="main-section container d-flex flex-column align-items-center justify-content-center position-relative">
    <div class="position-absolute bottom-0 mt-8 z-n1" style="bottom: -80px !important; left: 35%">
        <div class="ellipse mt-7"></div>
    </div>
    <!-- <div class="ellipse position-absolute bottom-0 mt-8"></div> -->
    <div class="row">
        <div class="col-md-5 order-2 order-md-1 mb-8 mb-md-0">
            <h1 class="md-text mt-6">Software Solutions For <span class="rolling-text fw-bold text-primary xl-text">Small Business, Startups, Enterprises</span></h1>
            <p class="lead mt-4 fs-6">Your innovation-driven technology solutions partner for success.</p>
            <a href="#contact" class="btn btn-lg btn-primary px-5 py-3 mt-5">Let's get started</a>
        </div>
        <div class="d-none d-md-block col-md-6 offset-md-1 order-1 order-md-2 mb-3">
            <img src="assets/images/mainpage-image.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>

